<!DOCTYPE html>
<html lang="Es-es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!--icono-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!--css-->
<link rel="stylesheet" href="/assets/css/styles.css">
<link rel="icon" href="/assets/img/favicon.png">
    <title>Animalandia</title>
</head>
<body>
    <!--header-->
<div class="container-fluid px-0  overflow-hidden">
    <header class="">
        <div class="row align-items-center">
        <div class="header-logo col-6  col-xl-3">
            <img src="/assets/img/logo.jpg">
        </div>
        <div class="header-buttons col-3  col-xl-7 "></div>
        <div class="p-2  justify-content-center header-buttons col-3  col-xl-2">
        <button type="button" class="btn btn-primary mb-1"><a class="a-1" href="/views/login.html"><i class="bi bi-power"></i> Ingresar</button></a>
        <button type="button" class="btn btn-outline-primary mb-1 "><a class="a-2" href="/views/login.html"><i class="bi bi-person-plus-fill"></i>Registrar </button></a>
    </div>
    </div>
    
    </header>

<!--Barra de navegación-->
    <nav class=" navbar navbar-expand-lg navbar-dark px-1" style="background-color: rgb(117,41,149);">
        <div class="container-fluid">
          <a class="navbar-brand" href="/views/index.html"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/views/equipo.html">Equipo</a>
              </li>
                <a class="nav-link " href="/views/servicios.html">Servicios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/views/tipsmascotas.html">Tips de mascotas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/views/contactenos.html">Contacto</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Busqueda" aria-label="Search">
              <button class="btn btn-outline-light" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>
<!--slide-->
<main>
    <section class="contac">
        <article class="title my-4 text-center" style="color: rgb(117,41,149);">
            <h1 class="py-2">Contáctenos</h1>
        </article>
            <p class="text-center">Trabajamos las 24 horas con urgencias y horario habitual <span> de 6am a 10 pm.</span> <br><span>Recuerda:</span> que tenemos un equipo de profesionales esperando para ayudarte.</p>
    <article class="mapa row">
            <div class="text-center col-12 col-lg-6" >
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.032738033973!2d-74.16732208255615!3d4.5881475000000105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9f01f625829f%3A0x406abd2cbab2a96d!2sCra.%2071f%20%2363-20%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1646409211369!5m2!1ses!2sco" width="410" height="300" style="border:solid 8px #00B2D1;  border-radius: 10px";allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="info mx-auto m-3 col-12 col-md-6 text-justify ">
            <p> <span>Dirección: </span>Carrera 71F # 63 -20 Sur <br> Bogotá - Cundinamarca</p>
            <p> <span>E-mail: </span>operaciones@clinicaveterinariakannes.com</p> 
            <p> <span>Teléfono: </span>(601) 7797385</p> 
            <p> <span>Celular: </span>(601) +57 3108935462</p> 
            </div>
    </article>
    <section>
    <article class="title  my-4 text-center" style="color: rgb(117,41,149);">
        <h1 class="py-2">Envíanos un Mensaje</h1>
    </article>
<section class="formulario">
    <form action="index.html" method="" target="_self">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre:</label>
          <input type="nombre" class="form-control" id="nombre" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre de mascota:</label>
            <input type="nombre" class="form-control" id="nombre" aria-describedby="emailHelp">
          </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Mascota:</label>
            <input type="nombre" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Perro, gato, conejo, hamster, etc.">
          </div>
          <div class="mb-3">
            <label for="nombre" class="form-label">Número de télefono:</label>
            <input type="nombre" class="form-control" id="nombre" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="nombre" class="form-label">Correo eléctronico:</label>
            <input type="nombre" class="form-control" id="nombre" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="nombre" class="form-label">Observaciones:</label><br>
            <textarea name="observaciones" cols="60" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar mensaje</button>
      </form>

    <!--imagen-->
    <img class="m-4 float-start" src="/assets/img/imgform.png" alt="animales" alt="animales">  
</section>
</section>

    
</main>

<!--footer-->    
<footer class="mt-5">
    <div class="box-footer">
    <div class="transparencia" style="background-color:rgba(117, 41, 149, 0.525);">
    <div class="d-flex align-items-center justify-content-between mx-auto">
    <div class="foot m-3 px-4 text-center">    
        <i class="bi bi-shop"></i>
        <h3>Sedes</h3>
        <p>Sede Kennedy<br>
        Sede Suba<br>
        sede Fontibon<br>
        Sede centro<br>
        </p>
    </div>
    <div class="foot m-3  text-center">
        <i class="bi bi-shop"></i>
            <h3>Sedes</h3>
            <p>Sede Kennedy<br>
            Sede Suba<br>
            sede Fontibon<br>
            Sede centro<br>
            </p>
        </div>
        <div class="foot m-3 px-4 text-center">
            <i class="bi bi-shop"></i>
                <h3>Sedes</h3>
                <p>Sede Kennedy<br>
                Sede Suba<br>
                sede Fontibon<br>
                Sede centro<br>
                </p>
            </div>
    </div>
    </div>
  </div>
  </footer>
      <!--div de cerra container-->
  </div>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  </body>
  </html>