<!DOCTYPE html>
<html lang="Es-es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
    <script src="https://kit.fontawesome.com/8eaafd3e49.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/assets/img/favicon.png">
    <title>Dashboard</title>
</head>
<body>
    <header class="header-dash">
    <div >
        <img id="logodash" src="/assets/img/logo.jpg" alt="Logo alimalandia">
    </div>
    <div class="sesion">
        <img src="/assets/img/golden.jpg" alt="Golden Retriver">
        <h5>Bienvenido; <span><a href="login.html"><br>Usuario<i class="fa-solid fa-right-from-bracket"></i></a></span></h5>
    </div>
</header>
<section id="dashboard">
    <article class="menu">
        <ul>
            <li class="item1"><a href="dashboard.html"><i class="fa-solid fa-user"></i>Usuarios</a></li>
            <li class="item1"><a href="login.html"><i class="fa-solid fa-users"></i>Clientes</a></li>
            <li class="item1"><a href="productos.html"><i class="fa-solid fa-tag"></i>Productos</a></li>
            <li class="item1"><a href="login.html"><i class="fa-solid fa-cart-shopping"></i>Pedidos</a></li>
            <li class="item1"><a href="login.html"><i class="fa-solid fa-chart-line"></i>Reportes</a></li>
        </ul>
    </article>
    <article class="contenido">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque unde quod suscipit necessitatibus obcaecati delectus dicta nam, eum cupiditate sed recusandae dolorum. Esse molestias, amet provident veritatis ratione enim possimus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque unde quod suscipit necessitatibus obcaecati delectus dicta nam, eum cupiditate sed recusandae dolorum. Esse molestias, amet provident veritatis ratione enim possimus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque unde quod suscipit necessitatibus obcaecati delectus dicta nam, eum cupiditate sed recusandae dolorum. Esse molestias, amet provident veritatis ratione enim possimus.</p>
    </article>
</section>
</body>
</html>