<!DOCTYPE html>
<html lang="Es-es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!--icono-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!--css-->
<link rel="stylesheet" href="/assets/css/styles.css">
<link rel="icon" href="/assets/img/favicon.png">
    <title>Animalandia</title>
</head>
<body>
    <button type="button" class="btn btn-primary m-2 mb-1"><a class="a-1" href="/index.html">Regresar</button></a>
    <img class="mx-auto mb-4" style="max-width: 500px;" src="/assets/img/logo.jpg" alt="logo">
    <section class="login mx-auto p-4 bg-light shadow p-3 mb-5 rounded" style="max-width: 500px;">
        <div class="text-center mx-auto">
        <i class="bi bi-person-circle" style="font-size: 4.5rem; color: rgb(117,41,149);"></i>
    </div>
        <form action="/views/dashboard.html" >
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Usuario</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"> Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Recordar usuario</label>
            </div>
            <div class="text-center">
            <button type="submit" class="btn btn-primary">Ingresar</button>
            <div class="form-group m-3">
                <a class="form-olvido" href="">Recordar Contraseña</a>
            </div>
        </div>
        </form>
    </section>
    
</body>
</html>
